# Lecture 7 of 9 - Summarising Data
In this lecture we will look at summarising data in Pandas. The dataset we will be using contains information about domestic flights in Australia. The import is provided below.

In [1]:
import pandas as pd
flights = pd.read_csv('domestic_flights.csv')
flights

/tmp/ipykernel_2604/3927240094.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

,City1,City2,Month,Passenger_Trips,Aircraft_Trips,Route_Distance,Seats
0,ADELAIDE,ALICE SPRINGS,Jan-84,15743,143,1316,19246
1,ADELAIDE,BRISBANE,Jan-84,3781,32,1622,4210
2,ADELAIDE,CANBERRA,Jan-84,1339,12,972,1414
3,ADELAIDE,DARWIN,Jan-84,3050,33,2619,4566
4,ADELAIDE,GOLD COAST,Jan-84,1596,16,1607,1803
...,...,...,...,...,...,...,...
25962,SYDNEY,WAGGA WAGGA,Apr-22,11318,326,367,17244
25963,SYDNEY,WAGGA WAGGA,May-22,12278,351,367,18599
25964,SYDNEY,WAGGA WAGGA,Jun-22,12119,338,367,18116
25965,SYDNEY,WAGGA WAGGA,Jul-22,12863,415,367,20302
25966,SYDNEY,WAGGA WAGGA,Aug-22,12971,443,367,21366

## Computed Columns
Create the following computed columns:
* Passenger load factor - describes the percentage of seats filled.
* Monthly distance - describes the total distance flown for that month.
* Month name
* Year

## Aggregates
Use aggregation to answer the following questions:
* What is the total distance flown by all aircraft in the data?
* What are the 5 most popular flight routes in the dataframe by total passenger trips?
* What is the newest flight route in the data?
* What is the mean and standard deviation of passenger load factor?
* In what years was passenger load factor at its lowest?
* What are the total number of passenger trips for each route involving Sydney in 2018?

## Visuals
Use data visuals to answer the following questions:
* How do the total number of passenger trips and seats vary for each month vary with time in the data?
* What percentage of annual flights come in each month of the year?
* What is the relationship between passenger trips and aircraft trips?
* How many